# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Idea project files
.idea

# Config files
/.env
/api/sqlboiler.toml
# Models that are generated using sqlboiler
/api/models/**/*.go

